$color_1: #333;
$color_2: #fff;
$color_3: #fff;
$color_4: #222;
$color_5: #d63f3f;
$font-family_1: "Poppins",
sans-serif;

#profile2 {
    background-color: $color_1;
    background: linear-gradient(#333, $color_4);
    border-top: 1px solid #444;

    #bannerImg {
        max-height: 20rem;
        width: 100%;
        object-fit: cover;
        max-width: 50rem;
        display: flex;
        margin: 0 auto;
    }
}

#subheader {
    width: 100%;
    object-fit: cover;
    max-width: 50rem;
    display: flex;
    margin: 0 auto;
    background-color: $color_1;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    #pfp {
        height: 13rem;
        margin: 0 0 0 5rem;
        border-radius: 1000px;
        border: 10px solid $color_1;
        position: relative;
        top: -70px;
    }

    #meta {
        width: 100%;
        text-align: left;
        vertical-align: middle;
        margin-left: 4rem;
    }
}

#filterChips {
    min-width: 50rem;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 1rem;
    justify-content: center;
    align-content: center;
    justify-content: space-around;

    .filterChip {
        display: inline-flex;
        padding: 0.5rem 2rem;
        border: 1px solid white;
        border-radius: 20px;
        margin: 0 0.5rem;

        &:nth-child(1) {
            margin-left: 0;
        }

        &:nth-child(4) {
            position: relative;
            left: 21rem;
        }

        &:hover {
            background-color: $color_1;
            color: #fff;
            cursor: pointer;
            transition: 0.5s;
        }
    }

}
